# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pth
*.pkl

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Data
data/
*.xlsx
*.csv
*.rar
*.zip

# Logs
*.log
training_log.txt
